<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upin.dao.token.AccessTokenDao">
	<resultMap id="base" type="AccessToken" ></resultMap>

	<!-- 新增 -->	
	<insert id="insert" parameterType="base">
		insert into wx_access_token (
			Id,
			TOKEN,
			LAST_TIME,
			UPDATE_TIME
			)
		values(
			#{id},
			#{token},
			#{lastTime},
			#{updateTime}
			)
	</insert>
	
	<!-- 查询 -->
	<select id="getOne" parameterType="base" resultType="AccessToken">
		SELECT
			Id,
			TOKEN,
			LAST_TIME,
			UPDATE_TIME
		FROM
			wx_access_token
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="AccessToken">
	    update 
	    	wx_access_token
	    <set>
	    	<if test="id != null" >
        		Id = #{id},
      		</if>
      		<if test="token != null" >
        		TOKEN = #{token},
      		</if>
      		<if test="lastTime != null" >
        		LAST_TIME = #{lastTime},
      		</if>
      		<if test="updateTime != null" >
        		UPDATE_TIME = #{updateTime},
      		</if>
	    </set>
	    where 
	    	Id = #{id}
  	</update>
  	
</mapper>