<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upin.dao.order.OrderDao">
	<resultMap id="base" type="Order" ></resultMap>
	<!-- 查询 -->
	<select id="getOrderList" parameterType="java.util.Map" resultType="hashmap">
        SELECT
            id, userId, goodsId, goodsName, goodsNum, addressId, userName, phone, address,
            status, createTime, updateTime,
        FROM q_order o
        WHERE 1 = 1 
            AND o.status = #{status}
        ORDER BY o.updateTime desc
        <if test="pageNum != null and pageNum !='' and pageSize != null and pageSize !=''">
            LIMIT #{pageNum}, #{pageSize}
        </if>
    </select>
	
	<!-- 根据id查询 -->
	<select id="getOneById" parameterType="String" resultType="base">
        SELECT
            id, userId, goodsId, goodsName, goodsNum, addressId, userName, phone, address,
            status, createTime, updateTime,
        FROM q_order o
        WHERE 1 = 1 
            AND o.id = #{orderId}
    </select>
</mapper>